# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs and other junk
log*.txt
temp*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/monitor/agent

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
*.run

# Other local trash
cover.html
cover.out
profile.cov